<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idata.pdm.dao.DocumentVersionMapper">
  
  <resultMap id="BaseResultMap" type="com.idata.pdm.entity.DocumentVersion">
    <id column="document_version_id" jdbcType="INTEGER" property="documentVersionId" />
    <result column="document_id" jdbcType="INTEGER" property="documentId" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="upload_date" jdbcType="TIMESTAMP" property="uploadDate" />
    <result column="upload_employee" jdbcType="INTEGER" property="uploadEmployee" />
    <result column="version" jdbcType="VARCHAR" property="version" />
  </resultMap>

  <select id="selectDocumentVersion" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from document_version
    where document_version_id = #{documentVersionId,jdbcType=INTEGER}
  </select>

  <delete id="deleteDocumentVersion" parameterType="java.lang.Integer">
    delete from document_version
    where document_version_id = #{documentVersionId,jdbcType=INTEGER}
  </delete>

  <insert id="insertDocumentVersion" parameterType="com.idata.pdm.entity.DocumentVersion">
    insert into document_version
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="documentId != null">document_id,</if>
      <if test="fileId != null">file_id,</if>
      <if test="uploadDate != null">upload_date,</if>
      <if test="uploadEmployee != null">upload_employee,</if>
      <if test="version != null">version,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="documentId != null">#{documentId,jdbcType=INTEGER},</if>
      <if test="fileId != null">#{fileId,jdbcType=INTEGER},</if>
      <if test="uploadDate != null">#{uploadDate,jdbcType=TIMESTAMP},</if>
      <if test="uploadEmployee != null">#{uploadEmployee,jdbcType=INTEGER},</if>
      <if test="version != null">#{version,jdbcType=VARCHAR},</if>
    </trim>
  </insert>
  
  <update id="updateDocumentVersion" parameterType="com.idata.pdm.entity.DocumentVersion">
    update document_version
    <set>
      <if test="documentId != null">document_id = #{documentId,jdbcType=INTEGER},</if>
      <if test="fileId != null">file_id = #{fileId,jdbcType=INTEGER},</if>
      <if test="uploadDate != null">upload_date = #{uploadDate,jdbcType=TIMESTAMP},</if>
      <if test="uploadEmployee != null">upload_employee = #{uploadEmployee,jdbcType=INTEGER},</if>
      <if test="version != null">version = #{version,jdbcType=VARCHAR},</if>
    </set>
    where document_version_id = #{documentVersionId,jdbcType=INTEGER}
  </update>
  
  <select id="selectDocumentVersionList" parameterType="java.util.Map" resultType="java.util.Map">
  	SELECT
		dv.document_version_id,
		dv.document_id,
		dv.file_id,
		dv.upload_date,
		employee.display_name AS upload_employee,
		dv.version
	FROM
		document_version AS dv
	LEFT JOIN employee ON dv.upload_employee = employee.employee_id
    where 1=1
    <trim prefix=" and (" suffix=")" suffixOverrides="and">
      <if test="documentId != null">document_id = #{documentId,jdbcType=INTEGER} and</if>
      <if test="fileId != null">file_id = #{fileId,jdbcType=INTEGER} and</if>
      <if test="uploadDate != null">upload_date = #{uploadDate,jdbcType=TIMESTAMP} and</if>
      <if test="uploadEmployee != null">upload_employee = #{uploadEmployee,jdbcType=INTEGER} and</if>
      <if test="version != null">version = #{version,jdbcType=VARCHAR} and</if>
    </trim>
    limit #{start},#{pageSize}
  </select>

</mapper>