<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idata.pdm.dao.FileMapper">
  <resultMap id="BaseResultMap" type="com.idata.pdm.entity.File">
    <id column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_md5" jdbcType="VARCHAR" property="fileMd5" />
    <result column="file_location" jdbcType="VARCHAR" property="fileLocation" />
  </resultMap>

  <select id="selectFile" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from file
    where file_id = #{fileId,jdbcType=INTEGER}
  </select>
  <select id="selectFileByMd5" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from file
    where file_md5 = #{fileMd5,jdbcType=VARCHAR}
  </select>

  <delete id="deleteFile" parameterType="java.lang.Integer">
    delete from file
    where file_id = #{fileId,jdbcType=INTEGER}
  </delete>

  <insert id="insertFile" useGeneratedKeys="true" keyProperty="fileId" parameterType="com.idata.pdm.entity.File">
    insert into file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fileName != null">file_name,</if>
      <if test="fileMd5 != null">file_md5,</if>
      <if test="fileLocation != null">file_location,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fileName != null">#{fileName,jdbcType=VARCHAR},</if>
      <if test="fileMd5 != null">#{fileMd5,jdbcType=VARCHAR},</if>
      <if test="fileLocation != null">#{fileLocation,jdbcType=VARCHAR},</if>
    </trim>
  </insert>

  <update id="updateFile" parameterType="com.idata.pdm.entity.File">
    update file
    <set>
      <if test="fileName != null">file_name = #{fileName,jdbcType=VARCHAR},</if>
      <if test="fileMd5 != null">file_md5 = #{fileMd5,jdbcType=VARCHAR},</if>
      <if test="fileLocation != null">file_location = #{fileLocation,jdbcType=VARCHAR},</if>
    </set>
    where file_id = #{fileId,jdbcType=INTEGER}
  </update>

</mapper>