<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idata.pdm.dao.ProjectMapper">
  
  <resultMap id="BaseResultMap" type="com.idata.pdm.entity.Project">
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_desc" jdbcType="VARCHAR" property="projectDesc" />
  </resultMap>
  
  <select id="selectProject" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from project
    where project_id = #{projectId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteProject" parameterType="java.lang.Integer">
    delete from project
    where project_id = #{projectId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertProject" parameterType="com.idata.pdm.entity.Project">
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectName != null">project_name,</if>
      <if test="projectDesc != null">project_desc,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectName != null">#{projectName,jdbcType=VARCHAR},</if>
      <if test="projectDesc != null">#{projectDesc,jdbcType=VARCHAR},</if>
    </trim>
  </insert>
  
  <update id="updateProject" parameterType="com.idata.pdm.entity.Project">
    update project
    <set>
      <if test="projectName != null">project_name = #{projectName,jdbcType=VARCHAR},</if>
      <if test="projectDesc != null">project_desc = #{projectDesc,jdbcType=VARCHAR},</if>
    </set>
    where project_id = #{projectId,jdbcType=INTEGER}
  </update>
  
</mapper>