<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idata.pdm.dao.ProjectMapper">
  
  <resultMap id="BaseResultMap" type="com.idata.pdm.entity.Project">
    <id column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="template_id" jdbcType="VARCHAR" property="templateId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="project_desc" jdbcType="VARCHAR" property="projectDesc" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
  </resultMap>
  
  <select id="selectProject" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from project
    where project_id = #{projectId,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteProject" parameterType="java.lang.Integer">
    delete from project
    where project_id = #{projectId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertProject" useGeneratedKeys="true" keyProperty="projectId" parameterType="com.idata.pdm.entity.Project">
    insert into project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="templateId != null">template_id,</if>
      <if test="projectName != null">project_name,</if>
      <if test="projectDesc != null">project_desc,</if>
      <if test="createDate != null">create_date,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="templateId != null">#{templateId,jdbcType=VARCHAR},</if>
      <if test="projectName != null">#{projectName,jdbcType=VARCHAR},</if>
      <if test="projectDesc != null">#{projectDesc,jdbcType=VARCHAR},</if>
      <if test="createDate != null">#{createDate,jdbcType=DATE},</if>
    </trim>
  </insert>
  
  <update id="updateProject" parameterType="com.idata.pdm.entity.Project">
    update project
    <set>
      <if test="templateId != null">template_id = #{templateId,jdbcType=VARCHAR},</if>
      <if test="projectName != null">project_name = #{projectName,jdbcType=VARCHAR},</if>
      <if test="projectDesc != null">project_desc = #{projectDesc,jdbcType=VARCHAR},</if>
      <if test="createDate != null">create_date = #{createDate,jdbcType=DATE},</if>
    </set>
    where project_id = #{projectId,jdbcType=INTEGER}
  </update>
  
  <select id="selectProjectPageList" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select * from project
  	where 1 = 1
  	<trim prefix=" and (" suffix=")" suffixOverrides="and">
      <if test="projectName != null">project_name = #{projectName,jdbcType=VARCHAR} and</if>
      <if test="projectDesc != null">project_desc = #{projectDesc,jdbcType=VARCHAR} and</if>
      <if test="template_id != null">template_id = #{templateId,jdbcType=INTEGER} and</if>
    </trim>
    limit #{start},#{pageSize}
  </select>
  
  <select id="selectProjectListByEmployeeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select * from project
	LEFT JOIN employee_project ON project.project_id = employee_project.project_id
	WHERE employee_project.employee_id = #{employeeId,jdbcType=INTEGER}
	ORDER BY project.project_id DESC
  </select>
</mapper>